[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "vim-kolor"]
	path = vim-kolor
	url = git://github.com/zeis/vim-kolor.git
	branch = master
